html{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color:#FF0087;
}

h2{
    text-align: center;
    margin: 1%;
    color:#FFF600;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#main div {
    display: flex;
    flex-direction: column;
}

html::-webkit-scrollbar {
    display: none;
}

html{
    min-height: 100%;
    background-color: black;
}

ul {
    list-style-type: none;
}

button{
    font-family: 'Roboto', sans-serif;
    padding: 12px 20px;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: #FF0087;
    box-shadow: 0px 0px 150px 50px #FF0087;

}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

button:hover{
    color: #04ff00;
    box-shadow:  0px 0px 150px 50px #04ff00;
}

button:focus{
    color:#FFF600;
    box-shadow:  0px 0px 150px 50px #FFF600;
}

span{
    color: #04ff00;
}
