html{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    /*color: white;*/
    color:#FF0087;
}

h2{
    text-align: center;
    margin: 1%;
    /*color: #FF9671;*/
    color:#FFF600;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#main div {
    display: flex;
    flex-direction: column;
}

html::-webkit-scrollbar {
    display: none;
}

html{
    min-height: 100%;
    /*background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);*/
    background-color: black;
}


ul {
    list-style-type: none;
}

button{
    font-family: 'Roboto', sans-serif;
    padding: 12px 20px;
    border: none;
    box-sizing: border-box;
    /*color: white;*/
    font-size: 16px;
    font-weight: bold;
    /*background-image: linear-gradient(to bottom,  #9a9ae1, #8aa7ec);*/
    background-color: #FF0087;
    color: #FFF600;
    box-shadow: 5px 10px;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

button:hover{
    /*background-image: linear-gradient(to top,  #9a9ae1, #8aa7ec);*/
    background-color: #FFF600;
    color: #FF0087;
}

span:nth-child(1){
    color: #FFF600;
}
span:nth-child(2){
    color: #FFF600;
}
span:nth-child(3){
    color: #FFF600;
}
span:nth-child(4){
    color: #FFF600;
}


/* NOTE:
#845EC2
#D65DB1
#FF6F91
#FF9671
#FFC75F
#F9F871 */

/* NOTE: gradient generert på denne siden: https://mycolor.space/gradient */